<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/all")
    @RenderSection("Styles", required: false)
    <meta name="Donor Management Landing Page" content="Donor Management Landing Page" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="hold-transition skin-green sidebar-mini">
    <div class="wrapper">

        @Html.Partial("_Header")

        @Html.Partial("_Sidebar")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        @Html.Partial("_Footer")

    </div>
    <!-- ./wrapper -->

    @Scripts.Render("~/scripts/all")
    @*@Scripts.Render("~/scripts/angular")*@

    <script src="~/scripts/angular.js"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/scripts/codemwnci/Markdown.Converter.js"></script>
    <script src="~/scripts/codemwnci/Markdown.Sanitizer.js"></script>
    <script src="~/scripts/codemwnci/bootstrap-markdown.js"></script>
    <script src="~/scripts/codemwnci/markdown-editpreview-ng.js"></script>
    <script src="~/Scripts/ng-file-input.js"></script>
    @*<script src="~/js/app/directives/date.js"></script>
        <script src="~/js/app/directives/as-date.directive.js"></script>*@
    <script src="~/js/app/app.module.js"></script>
    <script src="~/js/app/core/core.module.js"></script>
    <script src="~/js/app/data/data.module.js"></script>
    <script src="~/js/app/data/datacontext.js"></script>

    <script src="~/js/app/TaxTemplate/template.module.js"></script>
    <script src="~/js/app/TaxTemplate/template.js"></script>

    <script src="~/js/app/TaxUpload/upload.module.js"></script>
    <script src="~/js/app/TaxUpload/upload.js"></script>

    <script src="~/js/app/TaxManager/taxmanager.module.js"></script>
    <script src="~/js/app/TaxManager/taxmanager.js"></script>


    @*    @Scripts.Render("~/js/app")*@

    @RenderSection("scripts", required: false)
</body>
</html>
