<!DOCTYPE html>
<html ng-app="beholder">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/all.css")
    @RenderSection("Styles", required: false)
    <meta name="Donor Management Landing Page" content="Donor Management Landing Page" />
</head>
<body>
    <div id="wrapper" ng-cloak>
        @Html.Partial("_Navigation")
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/scripts/all.js")
    @RenderSection("scripts", required: false)
</body>
</html>
